# ----- Framework de la API -----
fastapi
uvicorn[standard]

# ----- Core de IA y LangChain (Actualizado para Google) -----
langchain
langgraph
langchain-community
langchain-text-splitters
sentence-transformers
langchain-huggingface
langchain-google-genai

# ----- Almacén de Vectores -----
chromadb

# ----- Utilidades -----
python-dotenv

# ----- Pruebas -----
pytest
pytest-mock
requests